<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInverval="30">

    <Properties>
        <Property name="get-order-log-enabled">false</Property>
        <Property name="create-order-log-enabled">true</Property>
    </Properties>

    <Appenders>
        <Console name="DefaultAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <Console name="TaskAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level [%X{taskName}] [%X{traceId}] %logger{36} - %msg%n"/>
        </Console>

        <Null name="NoopAppender"/>

        <Routing name="Routing">
            <Routes pattern="$${$${ctx:taskName}-log-enabled}">
                <Route key="true" ref="TaskAppender"/>
                <Route key="false" ref="NoopAppender"/>
                <Route ref="DefaultAppender"/>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Logger name="com.example.coffeeshop" level="debug">
            <AppenderRef ref="Routing"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="DefaultAppender"/>
        </Root>
    </Loggers>

</Configuration>