<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInverval="30">

    <Properties>
        <Property name="customLoggingEnabled">${sys:logging.custom.enabled}</Property>
    </Properties>

    <Appenders>
        <!--        <Console name="DefaultAppender" target="SYSTEM_OUT">-->
        <!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>-->
        <!--        </Console>-->

        <Console name="TaskAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level [%X{taskName}] [%X{traceId}] %logger{36} - %msg%n"/>
            <MarkerFilter marker="TEST" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="ROOT">
            <AppnderRef ref="TaskAppender"/>
        </Logger>
    </Loggers>

</Configuration>